doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Freedom Chat
        link(rel="stylesheet", href="/stylesheet/index.css")

        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap", rel="stylesheet")
    body
        h1 Freedom Chat
        div(id='chat-container')
        br
        input(type="text", id="message", placeholder="Chat here")
        br
        button(onclick="sendMessage()") send
        p(id="notification-message")
        p(id="current-viewer-count") Current viewers: !{current_viewers}
        br
        p Privacy Policy in this site is work in progress. To see the current privacy policy, visit the github repository.
        a(href="https://github.com/TempusAozora/public-chat-test" target="_blank") Github repository
        script(src="/javascript/index.js")